/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html {
  /* Firefox scrollbar */
  scrollbar-color: #ED8936 #7B341E;
}

::-webkit-scrollbar {
  @apply w-4 bg-orange-900;
}

/* PurgeCSS tries to remove ::-webkit-scrollbar-thumb, which is a little weird because ::-webkit-scrollbar is still kept */
/* purgecss ignore */
::-webkit-scrollbar-thumb {
  @apply bg-orange-500 rounded-full;
}

/* body classes are not read properly when using dev server */
body {
  @apply bg-gray-900 overflow-y-scroll h-screen;
}

a {
  @apply text-blue-500;
}

.fv-nav-btn {
  @apply flex flex-shrink-0 items-center justify-center h-10 w-10 border-2 border-blue-500 rounded-full shadow font-sans font-bold text-xl text-blue-500;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fv-nav-btn:focus {
  @apply outline-none bg-blue-800 shadow-md text-blue-500;
}
.fv-nav-btn-orange {
  @apply text-orange-500 border-orange-500;
}
.fv-nav-btn-orange:focus {
  @apply text-orange-500 bg-orange-900;
}
.fv-nav-btn-blue:focus {
  @apply bg-blue-900;
}
.fv-nav-btn-error {
  @apply text-red-700 border-red-700;
}

.fv-code {
  @apply font-mono text-sm text-orange-500 opacity-10;
}

.fv-header {
  @apply font-sans font-bold text-2xl text-blue-500 text-center;
}

.fv-text {
  @apply font-sans text-orange-500;
}
.fv-text-error {
  @apply text-red-500;
}

.fv-input {
  @apply bg-gray-900 w-full p-2 rounded shadow-md border-2 border-blue-500 outline-none font-sans text-blue-100;
}
.fv-input:focus {
  @apply bg-blue-900 shadow-lg;
}
.fv-input::placeholder {
  @apply text-blue-100 opacity-75;
}
.fv-input-error {
  @apply border-red-700;
}
.fv-input-error:focus {
  @apply bg-red-900;
}
.fv-input-error::placeholder {
  @apply text-red-100;
}
/* Source: https://stackoverflow.com/a/18853002 */
.fv-input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #EBF8FF;
}

/* Checkbox styling adapted from: https://css-tricks.com/the-checkbox-hack/
/* Base for label styling */
.fv-chk {
  @apply absolute;
  left: -9999px;
}
.fv-chk + label {
  @apply relative cursor-pointer;
}
.fv-chk + label:before {
  content: '';
  @apply block w-8 h-8 rounded shadow-md bg-gray-900 border-2 border-blue-500 text-blue-100;
}
.fv-chk + label:after {
  background: url('https://api.iconify.design/feather:check.svg') no-repeat center center / contain;
  @apply absolute inset-0 flex justify-center items-center w-8 h-8 text-blue-500;
}
.fv-chk:not(:checked) + label:after {
  @apply opacity-0;
}
.fv-chk:focus + label:before {
  @apply bg-blue-900 shadow-lg;
}
.fv-chk-error + label:before {
  @apply border-red-700;
}
.fv-chk-error:focus + label:before {
  @apply bg-red-900;
}
.fv-chk-error + label:after {
  @apply text-red-700;
}

.fv-btn {
  @apply w-full py-2 bg-orange-500 rounded-full shadow-lg font-sans font-bold text-2xl text-orange-100 text-center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fv-btn:focus {
  @apply outline-none bg-orange-700 shadow-md;
}
.fv-btn-blank {
  @apply bg-gray-900 text-orange-500 border-2 border-orange-500;
}
.fv-btn-blank:focus {
  @apply text-orange-500;
}

.fv-slider {
  @apply appearance-none rounded-full bg-blue-900 h-2 shadow-lg cursor-pointer outline-none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fv-slider:focus {
  @apply outline-none bg-blue-800;
}
.fv-slider::-webkit-slider-thumb {
  @apply appearance-none bg-blue-700 border-0 h-6 w-6 rounded-full shadow-lg;
}
.fv-slider::-webkit-slider-thumb:focus {
  @apply bg-blue-500;
}
.fv-slider::-moz-range-thumb {
  @apply outline-none bg-blue-700 border-0 w-6 h-6 rounded-full shadow-lg;
}
.fv-slider::-moz-range-thumb:focus {
  @apply bg-blue-500;
}
/* https://stackoverflow.com/a/21568066 */
.fv-slider::-moz-focus-outer {
  border: 0;
}

.fv-results .domain {
  stroke: #ED8936;
}
.fv-results .tick {
  stroke: #ED8936;
}
.fv-results .tick line {
  stroke: #ED8936;
}
.fv-results .tick text {
  @apply font-sans;
  font-weight: none;
}
.fv-results .y-axis text {
  display: none;
}

.fv-break {
  @apply fv-code text-center w-full my-8 opacity-25;
}

/* Mobile devices have hover issues in the vote submission page when ranks are changed. This block ensures that only hover-supported devices can have hover rules. */
@media (pointer: fine) {
  a:hover {
    @apply text-blue-100;
  }
  .fv-nav-btn:hover {
    @apply bg-blue-800 shadow-md text-blue-500;
  }
  .fv-nav-btn-orange:hover {
    @apply text-orange-500 bg-orange-900;
  }
  .fv-nav-btn-blue:hover {
    @apply text-red-700 bg-blue-900;
  }
  .fv-nav-btn-error:hover {
    @apply bg-red-900;
  }
  .fv-input:hover {
    @apply bg-blue-900;
  }
  .fv-input-error:hover {
    @apply bg-red-900;
  }
  .fv-chk + label:hover:before {
    @apply bg-blue-900;
  }
  .fv-chk-error + label:hover:before {
    @apply bg-red-900;
  }
  .fv-btn:hover {
    @apply bg-orange-700 shadow-md;
  }
  .fv-btn-blank:hover {
    @apply text-orange-500;
  }
  .fv-slider::-webkit-slider-thumb:hover {
    @apply bg-blue-500;
  }
  .fv-slider::-moz-range-thumb:hover {
    @apply bg-blue-500;
  }
}

@tailwind utilities;

/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

/* Lifted from Bootstrap source */
.embed-responsive {
  position: relative;
  width: 100%;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}